* {
    margin:0;
    padding:0;
}

:root{
    --largeurImg: 100%;
    --tailleImg: 50%;
}

button{
    color: rgb(255, 255, 255);
    background-color: rgb(6, 68, 6);
    border-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    height: 30%;
    margin: 1% 1%;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(6, 68, 6);
}

a{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

/* Élément de la page de login*/
#zoneAccueil{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url("../img/background.gif");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
}

#accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 25%;
    margin: 10% auto;
}

.arcade{
    position: fixed;
    background-image: url("../img/house.gif");
    background-size: contain;
    width: 256px;
    height: 256px;
    margin: 64vh 0vw;
}

.character{
    position: absolute;
    background-image: url("../img/characters.gif");
    background-size: cover;
    width: 128px;
    height: 128px;
    margin: 85vh -10vw;
    -webkit-animation: myanim 10s;
    animation: myanim 10s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes myanim
{
    0%  {left: 0vw;}
    100% {left:120vw;}
}
@keyframes myanim
{
    0%  {left: 0vw;}
    100% {left:120vw;}
}

.chat{
    position: fixed;
    background-image: url("../img/chat.gif");
    background-size: cover;
    width: 64px;
    height: 64px;
    margin: 28vh 74vw;
}

.formulaire{
    justify-content:space-between;
}

.usager_label{
    width: 50%;
    margin: 0% auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255,255,255);
}

.usager_input{
    width: 50%;
    margin: 0% auto;
    text-align: center;
}

.mdp_label{
    width: 50%;
    margin: 0% auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255,255,255);;
}

.button_div{
    margin: 2% 37%;
    width: 50%;
}

/*Élément de la page lobby.php*/
#lobby{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url("../img/guardian.gif");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
}

.textBienvenue{
    align-items: center;
    width: 10%;
    height: 20%;
    margin: 2% 42%;
    display: flex;
}

.renard-1{
    position: fixed;
    background-image: url("../img/animal.gif");
    background-size: cover;
    width: 64px;
    height: 64px;
    margin: 62vh 4vw;
}

.renard-2{
    position: fixed;
    background-image: url("../img/animal.gif");
    background-size: cover;
    width: 64px;
    height: 64px;
    margin: 63vh 6vw;
}

.renard-3{
    position: fixed;
    background-image: url("../img/animal.gif");
    background-size: cover;
    width: 64px;
    height: 64px;
    margin: 63vh 8vw;
}

.lobbyBouton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.chatBox{
    margin: auto;
    width: 50%;
    height: 30%;
}


/*id de la page game.php*/
#zoneJeu{
    height: 100vh;
    width: 100%;
    background-image: url("../img/jeuBackground.gif");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
}
#zoneTop{
    background-color: rgba(74, 0, 128, 0.2);
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#zoneJoueur{
    background-color: rgba(75, 0, 130, 0.2);
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Classe de game.php*/
.texteBienvenu{
    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;
    margin: auto;
    width: 50%;
}

/* Michant*/
.michantDiv{
    margin: auto;
    background-color: rgba(128, 128, 128, 0.2);
    color: black;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoMichant{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.michantClassHero{
    color: black;
    display: flex;
    flex-direction: column;
}
.portraitMichant{
    background-color: rgba(0, 255, 255);
    height: 25px;
    width: 25px;
    display: block;
}
.michantNbCarte{
    margin: 2%;
    color: black;
}
.michantHP{
    margin: 2%;
    color: black;
}
.michantMP{
    margin: 2%;
    color: black;
}
.michantLostCount{
    margin: 2%;
    color: black;
}
.michantBoard{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

/* Joueur*/
.joueurDiv{
    color: white;
    width: 15%;
}
.infoJoueur{
    color: white;
}
.joueurClassHero{
    text-align: center;
    font-size: xx-large;
}
.joueurHP{
    background-image: url("../img/heart.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: end;
    padding-right: 20%;
    color: white;
}
.joueurMP{
    background-image: url("../img/Sous.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: end;
    padding-right: 20%;
    color: white;
}
.joueurBoard{
    width: 100%;
    height: 25%;
    background-color: rgb(238, 130, 238, 0.2);
    border: solid 5px rgb(78, 14, 78);
    display : flex;
    justify-content: center;
}

.carteEnMain{
    background-color: rgba(95, 158, 160, 0.2);
    width: 100%;
    height: 100%;
    border: solid 5px rgb(6, 46, 121);
    display: flex;
    justify-content: center;
}

/*Formation des cartes*/
.carteFrame{
    background-color: rgba(83, 148, 18, 0.5);
    border: 1px green solid;
    position:relative;
    color: white;
    display : flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    text-align: center;
    margin: 0% 1%;
}

.carteInfo{
    display : flex;
    flex-direction: row;
    background-color: rgb(46, 80, 46);
    justify-content: space-evenly;
    height: 20%;
}
.carteInfoVie{
    background-image: url("../img/heart.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    padding: 10%;
    color: white;
}

.carteInfoCout{
    background-image: url("../img/Sous.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    padding-top: 10%;
    color: white;
    text-align: center;
}

.carteInfoAtk{
    background-image: url("../img/sworrd.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;;
    width: 30%;
    padding-top: 10%;
    color: white;
    text-align: center;
}

/*Pour les habilités*/
.carteInfoHab{
    background-color:rgba(83, 148, 18, 0.8);
    color: black;
    height: 30%;
    border-top: 1px solid green;
}

/*Les cartes*/

/*Niveau 1*/
.carteImg-0{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/1/Barril.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-1{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/1/insecte.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-2{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/1/Slime.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Niveau 2*/

.carteImg-3{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/2/Baton.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-4{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/2/Coffre.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-5{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/2/Happy_three.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-6{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/2/pingouin.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Niveau 3*/
.carteImg-7{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/3/alambic.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-8{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/3/boxing_ladybug.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-9{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/3/death.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-10{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/3/house.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-11{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/3/packman_ghost_00.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-12{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/3/packman_ghost_01.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-13{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/3/randomiser.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Niveau 4*/

.carteImg-14{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/4/harry_potter.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-15{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/4/murder.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-16{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/4/pirates.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-17{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/4/soldier.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Niveau 5*/

.carteImg-18{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/5/buffle.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-19{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/5/ninja.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-20{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/5/Spider.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-21{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/5/Sylvain.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Niveau 6*/

.carteImg-22{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/6/gaya.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-23{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/6/Police.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-24{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/6/Programmeur.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-25{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/6/voleur.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Niveau 7*/

.carteImg-26{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/7/lion.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-27{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/7/Sorcerer.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-28{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/7/Vulture.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Niveau 8*/
.carteImg-29{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/8/dame_coeur.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carteImg-30{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/8/turret.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Niveau 9*/

.carteImg-31{
    width: var(--largeurImg);
    height: var(--tailleImg);
    background-image: url("../img/carte/9/packMan.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*Niveau 10*/

.carteImg-32{
    width: 128px;
    height: 60%;
    background-image: url("../img/carte/10/Donkey\ Kong!.gif");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Partie*/
.partieDiv{
    width: 10%;
    background-color: rgba(127, 255, 0, 0.2);
    color: red;
    display: flex;
    justify-content: center;
}
.infoPartie{
    height: 50%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.remaingCardsCount{
    color: red;
}
.remaingTurnTime{
    color: red;
}
.talent{
    color: red;
}
.tourJoueur{
    color: red;
}