* {
    margin:0;
    padding:0;
}

#zoneJeu{
    height: 100vh;
    width: 100%;
}
#zoneTop{
    background-color: indigo;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#zoneJoueur{
    background-color: indigo;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* Classe de game.php*/
.texteBienvenu{
    background-color: red;
    text-align: center;
    margin: auto;
    width: 50%;
}

/* Michant*/
.michantDiv{
    margin: auto;
    background-color: grey;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoMichant{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.michantClassHero{
    color: black;
    display: flex;
    flex-direction: column;
}
.michantNbCarte{
    margin: 2%;
    color: black;
}
.michantHP{
    margin: 2%;
    color: black;
}
.michantMP{
    margin: 2%;
    color: black;
}
.michantLostCount{
    margin: 2%;
    color: black;
}
.michantBoard{
    background-color: black;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.michantCarte{
    background:hotpink;
    color: black;
}

/* Joueur*/
.joueurDiv{
    color: red;
}
.infoJoueur{
    color: red;
}
.joueurClassHero{
    color: red;
}
.joueurHP{
    color: red;
}
.joueurMP{
    color: red;
}
.joueurBoard{
    width: 100%;
    height: 25%;
    background-color: violet;
    border: solid 5px rgb(78, 14, 78);
}

.carteEnMain{
    background-color: cadetblue;
    width: 100%;
    height: 80%;
    border: solid 5px rgb(6, 46, 121);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.joueurCarte{
    background-color: blueviolet;
    position:relative;
    color: white;
    display : flex;
    flex-direction: row;
    width: 30%;
}
.carteInfoVie{
    background-color: white;
    width: 30%;
    color: red;
}

.carteInfoCout{
    background-color: white;
    width: 30%;
    color: blue;
}

.carteInfoAtk{
    background-color: white;
    width: 30%;
    color: red;
}

/*Pour les habilités*/
.carteInfoHab{
    background-color:lightblue;
    color: black;
    width: auto;
}

/* Partie*/
.partieDiv{
    background-color: chartreuse;
    color: red;
}
.infoPartie{
    color: red;
}
.remaingCardsCount{
    color: red;
}
.remaingTurnTime{
    color: red;
}
.talent{
    color: red;
}
.tourJoueur{
    color: red;
}